<div id="<%= dom_id recipe %>">
  <li class="container">
    <div class="recipe-details">
      <h2 class="title"><%= link_to recipe.name, recipe_path(recipe) %></h2>
      <p class="details"><%= recipe.description %></p>
    </div>
  </li>
</div>
